/** buttons.css **/

.main_room_button {
    width: 95px;
    height: 35px;
}
.room_view_button {
    position: absolute;

    width: 65px;
    height: 32px;

    background-color: white;
}

#main_button_table {
    position: absolute;

    left: 35px;
    top: 70px;
}

#log_button {
    top: 20px;
    left: 8px;
}
#save_log_button {
    top: 57px;
    left: 8px;
}
#data_button {
    top: 94px;
    left: 8px;
}
#reenter_button, #main_reenter_button {
    top: 20px;
    left: 698px;
}
#relogin_button {
    top: 57px;
    left: 698px;
}
#proxy_button {
    top: 94px;
    left: 698px;
    
    z-index: 2;
}
#users_button {
    top: 353px;
    left: 8px;
}
#stat_button {
    top: 353px;
    left: 85px;
}
#config_button {
    left: 620px;
    top: 353px;
}
#back_button {
    left: 698px;
    top: 353px;
}