/* monachat css */

html {
    overflow-x: hidden;
    //overflow-y: hidden;
    -webkit-user-select: none;
}
text, a, div {
    font-family: "MS PGothic";
}
a {
    text-decoration: none;
}

.container { overflow-y: none; }
.text_input {
    position: absolute;
    
    font-family: "MS PGothic";
    font-size: 16px;
    
    width: 450px;
    height: 30px;
    
    padding-left: 5px;
    padding-right: 5px;
    
    top: 355px;
    left: 160px;
}
.log_div {
    width: 100%;
    padding: 2px;

    word-wrap: break-word;
}
.dropdown_el {
    display: block;

    //width: 100%;
    
    background-color: rgb(150, 150, 150);

    padding-left : 10px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.user_div {
    position: absolute;

    text-align: center;
}
.user_div_img { position: relative; }
.dropdown_el:hover { background-color: rgb(100, 100, 100); }
.room_view_dropdown {
    position: absolute;
    cursor: default;
    
    display: none;

    border: 1px solid black;
    opacity: 1;

    z-index: 2;
}
.user_div_data {
    position: relative;
    top: -5px;
}
.user_div_stat {
    display: none;
    
    position: relative;

    background-color: yellow;

    bottom: 65px;

    font-size: 15px;
    
    height: 18px;
    border: 1px solid black;
    padding-top: 4px;
    padding-bottom: 2px;

    opacity: 1;
    z-index: 2;
}
#text_input text { left: 20px;   }
#room_data       { float: right; }
#log_textarea {
    -webkit-user-select: auto !important;

    position: absolute;
    cursor: text;
    
    overflow-y: scroll;
    overflow-x: hidden;

    width: 600px;
    height: 200px;

    left: 80px;
    top: 20px;
    
    font-size: 15px;

    border: 1px solid black;

    padding: 5px;
    padding-bottom: 10px;

    background-color: rgb(200, 200, 200);

    //z-index: 2;
}
#users_dropdown { left: 8px;  }
#stat_dropdown  { left: 85px; }
#main_title {
    position: absolute;
    font-size: 25px;
    
    left: 220px;
    top: 35px;
}
#main_button_table_div {
    position: relative;
    top: 20px;
    left: 40px;
}