/* monachat css */

.container {
    overflow-y: none;
}
html {
    overflow-x: hidden;
}
.text_input {
    position: absolute;
    
    width: 400px;
    height: 30px;
    
    padding-left: 5px;
    
    top: 332px;
    left: 23%;
}
#text_input text {
    left: 20px;
}
#room_data {
    float: right;
}
#log_button {
    top: 8px;
    left: 8px;
}
#data_button {
    top: 45px;
    left: 8px;
}
#reenter_button {
    top: 82px;
    left: 8px;
}
#relogin_button {
    top: 119px;;
    left: 8px;
}
#proxy_button {
    left: 8pxpx;
    top: 156px;
    
    z-index: 2;
}
#users_button {
    top: 330px;
    left: 8px;
}
#stat_button {
    top: 330px;
    left: 90px;
}
#log_textarea {
    position: absolute;
    cursor: default;
    
    overflow-y: scroll;
    overflow-x: hidden;

    width: 600px;
    height: 200px;

    left: 80px;
    
    font-family: monospace;

    border: 1px solid black;
    padding: 5px;
    padding-bottom: 5px;

    background-color: rgba(255, 255, 255, 0);

    //z-index: 2;
}
.log_div {
    width: 100%;
    //height: 17px;
    font-size: 14px;

    word-wrap: break-word;
    white-space: pre;
}
a {
    text-decoration: none;
}
#main_button_table {
    position: absolute;

    left: 35px;
    top: 70px;
}
#config_button {
    left: 590px;
    top: 330px;
}
#back_button {
    left: 670px;
    top: 330px;
}
#users_dropdown {
    position: absolute;
    cursor: default;
    
    display: none;

    left: 8px;
    
    border: 1px solid black;

    background-color: rgb(150, 150, 150);
    opacity: 1;

    z-index: 2;
}
#users_dropdown a:hover {
    background-color: rgb(100, 100, 100);
    display: block;
}

.main_room_button {
    width: 95px;
    height: 35px;
}
.room_view_button {
    position: absolute;

    width: 65px;
    height: 30px;

    background-color: white;
}
.user_div {
    position: absolute;

    text-align: center;
}
.user_div_img {
    position: relative;
}
