/** Config menu css **/

.config_menu_div {
    padding-top: 3px;
}
.config_menu_title {
    position: relative;
    font: 30px bold underline;

    left: -10px;
    top: -20px;
}
.config_menu_input, .config_menu_select {
    width: 110px;
    height: 22px;

    font-family: var(--default_font);

    padding-left: 3px;
}
.room_data_menu_div {
    position: relative;
    
    padding-top: 10px;
    padding-left: 5px;

    left: -15px;
}

#config_login_menu {
    display: none;
    position: absolute;
    
    border: 1px solid black;
    text-align: right;

    width: 550px;
    height: 300px;

    left: 120px;
    top: 40px;

    z-index: 3;

    background-color: white;
}
#config_menu_user {
    position: relative;

    //padding: 10px;
    top: 40px;
    right: 320px;
}
#config_menu_options {
    position: relative;
    display: block;

    top: -194px;
    left: 270px;

    width: 180px;
    height: 100px;
}
#config_trigger_div {
    left: 10px;
}
#config_menu_login_cancel_button {
    position: relative;
    
    right: 50px;
    bottom: -58px;

    height: 40px;
    width: 150px;

    border-bottom: 0px;
    border-right: 0px;
}
#config_menu_login_accept_button {
    position: relative;

    right: -100px;
    bottom: -18px;

    height: 40px;
    width: 150px;

    border-bottom: 0px;
    border-right: 0px;
}
#config_trigger_menu text {
    position: relative;

    font-size: 30px;
    left: 60px;
    top: -205px;
}
#config_trigger_menu {
    position: absolute;
    display: none;

    left: 200px;
    top: 60px;

    width: 400px;
    height: 250px;

    background-color: white;
    border: 1px solid black;

    z-index: 3;
}
#config_trigger_list {
    position: relative;

    font-family: var(--default_font);

    line-height: 19px;
    
    width: 181px;
    height: 100%;
    max-width: 181px;
    max-height: 100%;

    padding-top: 8px;
    padding-left: 10px;

    left: 113px;
    height: 100%;
}
#config_menu_trigger_accept_button {
    position: relative;
    
    top:  -47px;
    left: -6px;

    width: 110px;
    height: 40px;

    border-bottom: none;
    border-right: none;
}
#config_menu_trigger_cancel_button {
    position: relative;
    
    top: -47px;
    left:  0px;

    border-bottom: none;
    border-left: none;
    border-right: none;

    width: 110px;
    height: 40px;
}
#config_client_menu {
    position: absolute;
    display: none;
    
    width: 250px;
    height: 335px;

    top: 25px;
    left: 260px;

    text-align: right;
    padding-left: 10px;
    padding-top: 10px;

    border: 1px solid black;

    background-color: white;

    z-index: 3;
}
#config_client_menu input, #config_client_menu label {
    position: relative;
    left: -20px;
}
#config_client_menu div {
    padding-top: 3px;
}
#config_menu_client_add_config {
    position: relative;
    
    top: 12px;
    left: -63px;

    padding: 5px;
}
#config_menu_client_add_trip_list {
    position: relative;

    top: 12px;
    left: -32px;

    padding: 5px;
}
#config_menu_client_cancel_button {
    position: relative;
    
    width: 52%;
    height: 40px;

    left: -130px;
    top: 29px;

    border-bottom: none;
    border-left: none;
    border-right: none;
}
#config_menu_client_accept_button {
    position: relative;
    
    width: 52%;
    height: 40px;

    left: -0px;
    top: -11px;

    border-bottom: none;
    border-right: none;
}

#config_bots_menu {
    display: none;
    position: absolute;

    width: 265px;
    height: 350px;

    left: 260px;
    top: 10px;

    border: 1px solid black;

    background-color: white;

    z-index: 3;
}
#bot_list {
    position: relative;
    display: block;
    overflow-y: auto;

    width: 100%;
    height: 87%;

    table-layout: fixed;
    border-collapse: collapse;
}
.bot_list_cell {
    position: relative;

    height: 35px;
    width: 20%;

    max-width: 50px;
    
    text-align: center;

    border-bottom: 1px solid black;
}
.bot_list_cell {
    border-right: 1px solid black;
}
.bot_list_cell:last-child {
    border-right: none;
}

#config_menu_bots_accept_button {
    position: absolute;

    bottom: 0px;

    width: 100%;
    height: 40px;

    border-bottom: none;
    border-left: none;
    border-right: none;
}