/** room view css **/

.text_input {
    position: absolute;
    
    font-family: var(--default_font);
    font-size: 16px;
    
    width: calc(100% - 320px);
    height: 30px;
    
    padding-left: 5px;
    padding-right: 5px;
    
    bottom: 9px;
    left: 160px;
}
.log_div_el {
    width: 100%;
    padding: 2px;

    word-wrap: break-word;
}
.user_div {
    position: absolute;

    text-align: center;

    top: calc(100% - 220px) !important; ////
}
.user_div_img      { position: relative; }
.user_data_div {
    position: relative;
    top: -5px;
    pointer-events: none;
}
.user_stat_div {
    display: inline-block;
    position: absolute;

    pointer-events: none;

    background-color: yellow;
    
    top: 97px;

    font-size: 15px;
    line-height: 20px;
    
    height: 20px;
    border: 1px solid black;

    padding-left: 10px;
    padding-right: 10px;

    opacity: 1;
    z-index: 3;
}
.comment_div {
    position: absolute;
    cursor: hand;

    text-align: center;

    height: 30px;
    line-height: 30px;

    border: 1px solid black;
    border-radius: 12px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    
    animation-name: comment_div_keyframes;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    z-index: 3;
}
.log_img_el {
    max-width: 90%;
    cursor: hand;
}

#text_input text { left: 20px; }
.log {
    -webkit-user-select: auto !important;

    position: absolute;
    cursor: text;
    
    overflow-y: scroll;
    overflow-x: hidden;

    width: calc(100% - 171px);
    height: calc(100% - 226px);

    left: 80px;
    top: 20px;
    
    font-size: 15px;

    border: 1px solid black;

    padding: 5px;
    padding-bottom: 10px;

    //z-index: 2;
}
#log_search_div {
    display: none;
    position: absolute;
    
    top: 21px;
    right: 98px;
    
    width: 200px;
    height: 30px;
}
#log_search {
    padding-left: 5px;
    padding-right: 5px;

    width: 100%;
    height: 100%;
}
#character_menu div {
    display: inline-block;
    
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.character_menu_img {
    width: 95px;
    height: 95px;
}
.selection_div {
    border: 1px solid black;
    display: inline-block;
}

/*****************
* Room data menu
*****************/
#room_data { float: right; }
#room_data_menu {
    display: none;
    text-align: right;
    
    position: absolute;

    border: 1px solid black;
    
    width:  160px;
    height: 295px;

    left: 80px;
    top: 10px;

    opacity: 1;
    background-color: white;

    z-index: 3;
}
#room_data_character {
    padding-right: 21px;
}
#room_data_character_arrow {
    position: absolute;

    left: 139px;
    top: 12px;
}
#data_color_div {
    position: relative;

    left: -53px;
}
#room_data_x, #room_data_y{
    margin-top: 8px;
    width: 50px;
}
#room_data_accept_button {
    position: relative;
    
    height: 35px;
    width: 100%;

    top: 18px;
    left: 0px;

    border-bottom: none;
    border-right: none;
    border-left: none;
}

#room_new_menu {
    display: none;
    position: absolute;
    
    background-color: white;
    
    width:  170px;
    height: 215px;

    right: 85px;
    top:   15px;

    border: 1px solid black;

    text-align: right;

    align-content: center;
    
    padding-left: 10px;
}
#room_new_menu_accept_button {
    position: relative;

    bottom: -15px;
    left: -10px;

    height: 40px;
    width: 180px;

    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;

    z-index: 4;
}

/***********
* Dropdown
***********/
.room_view_dropdown {
    position: absolute;
    cursor: default;
    
    display: none;

    border: 1px solid grey;

    z-index: 3;
}
.dropdown_el {
    display: block;

    padding-left : 10px;
    padding-right: 20px;
    padding-top:    5px;
    padding-bottom: 5px;

    border-bottom: 1px solid #BEBEBE;
}
.stat_dropdown_cell {
    display: table-cell;

    padding-left : 10px;
    padding-right: 20px;
    //padding-top:    5px;
    //padding-bottom: 5px;

    vertical-align: middle;

    border-right: 1px solid #BEBEBE;

    width: 80px;
    height: 32px;

    background-color: white !important;

    border-bottom: 1px solid #BEBEBE;
}
#stat_dropdown_input {
    font: var(--default_font);
    padding-left: 5px;
    padding-right: 5px;
}
.stat_dropdown_cell:last-child {
    border-right: none;
}
.stat_dropdown_row:last-child .stat_dropdown_cell {
    border-bottom: none;
    background-color: red;
}
.dropdown_el:last-child {
    border-bottom: none !important;
}
.dropdown_el:hover, .stat_dropdown_cell:hover {
    background-color: #EBEBEB !important;
}

#users_dropdown {
    left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

    max-height: 365px;

    overflow-y: auto;

    background-color: white;
}
#stat_dropdown {
    display: none;
    left: 85px;

    padding-top: 2px;
    padding-bottom: 2px;

    background-color: white;
}
#stat_dropdown {
    bottom: 50px;
}
#stat_dropdown :nth-child() {
    border: none !important;
}
#stat_dropdown label {
    position: relative;
    top: 2px;
}
#stat_dropdown_input {
    position: relative;
    
    width: 60px;
    
    left: 9px;
    top: 1px;
}
#config_dropdown {
    position: absolute;

    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;

    bottom: 50px;
    left: 620px;

    z-index: 4;
}


/************
* Keyframes
************/
@keyframes comment_div_keyframes
    {
        0%   { top: -20px; }
        100% { top: -300px; }
    }